NEXT_PUBLIC_SUPABASE_URL=https://eqlhzufgsustlfmywzuv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=COLE_AQUI_SUA_ANON_PUBLIC_KEY
SUPABASE_SERVICE_ROLE_KEY=COLE_AQUI_SUA_SERVICE_ROLE_KEY
DROPER_WEBHOOK_TOKEN=goated-droper-2026
